{% extends "base.html" %}
{% block content %}
<h2 class="mb-4 text-center">🏆 Tabla de Posiciones</h2>

<div class="card shadow-sm mb-4">
  <div class="card-body p-0">
    <!--<iframe 
      src="https://www.sofascore.com/es/tournament/football/peru/liga-1/406"
      style="width:100%; height:800px; border:none; overflow:hidden;"
      scrolling="no">
    </iframe>-->
    <iframe id="sofa-standings-embed-34468-70962" src="https://widgets.sofascore.com/embed/tournament/34468/season/70962/standings/Liga%201%202025%2C%20Clausura?widgetTitle=Liga%201%202025%2C%20Clausura&showCompetitionLogo=true" style=height:1083px!important;max-width:768px!important;width:100%!important; frameborder="0" scrolling="no"></iframe>
    <div style="font-size:12px;font-family:Arial,sans-serif;text-align:left">
      Standings provided by <a target="_blank" href="https://www.sofascore.com/tournament/football/peru/liga-1-clausura/406#id:70962">Sofascore</a>
    </div>
  </div>
</div>

{% endblock %}
